@page
@using Microsoft.AspNetCore.Localization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}


<!--Carousel-Section-Start-->
<section id="slider">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            @foreach (var item in Model.CarouselList)
            {
                <div class="item @item.State" style="background-image:url(@item.ImageUrl)">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @if (requestCulture.Culture.ToString() == "hy")
                                {
                                    <h1 style="font-size:25px">@item.Title</h1>
                                    <h2 style="font-size:45px">@item.Name</h2>
                                    <p>@item.Context</p>
                                }
                                else
                                {
                                    <h1 style="font-size:25px">@item.TitleEn</h1>
                                    <h2 style="font-size:45px">@item.NameEn</h2>
                                    <p>@item.ContextEn</p>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            }
            <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!--/#home-carousel-->
    <br />
    <hr />
    <br />
</section>


<!--About-Section-Start-->
<section id="about">
    <div class="container">
        @if (requestCulture.Culture.ToString() == "hy")
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ՄԵՐ <span>ՄԱՍԻՆ</span></h2>
                    <div class="line"></div>
                    <p>@Model.About.Title</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ab-sec">
                    <div class="col-md-6">
                        <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>@Model.About.Name</span></h3>
                        <br>
                        <p>@Model.About.Context</p>
                    </div>
                    <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="@Model.About.ImageUrl" alt=""> </div>
                </div>
            </div>
        }

        else
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ABOUT <span>US</span></h2>
                    <div class="line"></div>
                    <p>@Model.About.TitleEn</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ab-sec">
                    <div class="col-md-6">
                        <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>@Model.About.NameEn</span></h3>
                        <br>
                        <p>@Model.About.ContextEn</p>
                    </div>
                    <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="@Model.About.ImageUrl" alt=""> </div>
                </div>
            </div>
        }
    </div>
</section>

<br>
<!--Red Line-->
<div class="bg-sec">
    <div class="container">
    </div>
</div>
<br>

<!--Service-Section-Start-->
<section id="service">
    <div class="container">

        @if (requestCulture.Culture.ToString() == "hy")
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ՄԵՐ ԾԱՌԱՅՈՒԹՅՈՒՆ<span>ԵՐԸ</span></h2>
                    <div class="line"></div>
                    <p>
                        <span><strong>Հ</strong></span> Հայերեն պատահական տեքստ, հայերեն պատահական տեքստ հայերեն պատահական տեքստ հայերեն պատահական տեքստ հայերեն պատահական տեքստ հայերեն պա:
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="customer-sec">
                    @foreach (var item in Model.ServiceList)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                            <div class="media service-box">
                                <div class="pull-left"> <i class="fa fa-@item.IconName"></i> </div>
                                <div class="media-body">
                                    <h5 class="media-heading">@item.Title</h5>
                                    <p>@item.Context</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }

        else
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>OUR SERVI<span>CE</span></h2>
                    <div class="line"></div>
                    <p>
                        <span><strong>L</strong></span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="customer-sec">
                    @foreach (var item in Model.ServiceList)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                            <div class="media service-box">
                                <div class="pull-left"> <i class="fa fa-@item.IconName"></i> </div>
                                <div class="media-body">
                                    <h5 class="media-heading">@item.TitleEn</h5>
                                    <p>@item.ContextEn</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>

<!--Customer-Section-Start-->
<section id="customer">
    <div class="container">
        @if (requestCulture.Culture.ToString() == "hy")
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ՄԵԶ <span>ՎՍՏԱՀՈՒՄ</span> ԵՆ</h2>
                    <div class="line"></div>
                    <p>
                        <span><strong>Հ</strong></span>այերեն պատահական տեքստ, հայերեն պատահական տեքստ հայերեն պատահական տեքստ հայերեն պատահական տեքստ հայերեն պատահական տեքստ հայերեն պա:
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>THEY <span>TRUST</span> US</h2>
                    <div class="line"></div>
                    <p>
                        <span><strong>L</strong></span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
            </div>
        }

        <ul class="nav nav-tabs" role="tablist">
            @foreach (var item in Model.CustomerList)
            {
                <li role="presentation" class="@item.TabState"><a href="#tab-@item.OrderNumber" role="tab" data-toggle="tab"><img src="@item.LogoURL" /></a></li>
            }
        </ul>
        <div class="tab-content">
            @foreach (var item in Model.CustomerList)
            {
                <div role="tabpanel" class="tab-pane fade in @item.TabState feat-sec" id="tab-@item.OrderNumber">
                    <div class="col-md-6 tab">
                        @if (requestCulture.Culture.ToString() == "hy")
                        {
                            <h5>@item.Title</h5>
                            <div class="line"></div>
                            <div class="clearfix"></div>
                            <p class="feat-sec">
                                @item.Context
                            </p>
                        }
                        else
                        {
                            <h5>@item.TitleEn</h5>
                            <div class="line"></div>
                            <div class="clearfix"></div>
                            <p class="feat-sec">
                                @item.ContextEn
                            </p>
                        }
                    </div>
                    <div class="col-md-6 tab-img"><img src="@item.ImageURL" class="img-responsive" alt=""></div>
                </div>
            }
        </div>
    </div>
</section>


<!--Pricing-Section-Start-->
<section id="pricing">
    <div class="container">

        @if (requestCulture.Culture.ToString() == "hy")
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ԳՆԱՅԻՆ ՓԱԹԵԹ<span>ՆԵՐ</span></h2>
                    <div class="line"></div>
                    <p><span><strong>Ընտրեք</strong></span> ձեզ հարմար ծառայությունների փաթեթը կամ կապվեք մեզ հետ ինդիվիդուալ փաթեթ կազմելու համար</p>
                </div>
            </div>
            <div class="row">
                @{
                    var delay = 0;
                }
                @foreach (var item in Model.PricingList)
                {
                    var delaySec = @delay.ToString() + "ms";
                    <div class="col-sm-6 col-md-3">
                        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="@delaySec">
                            <ul class="pricing">
                                <li class="plan-header">
                                    <div class="price-duration">
                                        <div class="price">   </div>
                                        <div class="duration">  </div>
                                    </div>
                                    <div class="plan-name"> @item.Name </div>
                                </li>
                                <li><strong>@item.EmployeCount</strong> –ից ավել աշխատակից</li>
                                <li><strong>@item.PriceText</strong>  դրամից ավել շրջանառություն</li>
                                <li>@item.Context</li>
                            </ul>
                        </div>
                    </div>
                    delay += 200;
                }
            </div>
        }
        else
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>PRICE PACKAG<span>ES</span></h2>
                    <div class="line"></div>
                    <p><span><strong>Choose</strong></span> the package of services that suits you or contact us to make an individual package</p>
                </div>
            </div>
            <div class="row">
                @{
                    var delay = 0;
                }
                @foreach (var item in Model.PricingList)
                {
                    var delaySec = @delay.ToString() + "ms";
                    <div class="col-sm-6 col-md-3">
                        <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="@delaySec">
                            <ul class="pricing">
                                <li class="plan-header">
                                    <div class="price-duration">
                                        <div class="price">   </div>
                                        <div class="duration">  </div>
                                    </div>
                                    <div class="plan-name"> @item.NameEn </div>
                                </li>
                                <li>Up to <strong>@item.EmployeCount</strong> employees</li>
                                <li>more than <strong>@item.PriceTextEn</strong>  AMD turnover</li>
                                <li>@item.ContextEn</li>
                            </ul>
                        </div>
                    </div>
                    delay += 200;
                }
            </div>
        }








    </div>
</section>



<!--News-Section-Start-->
<section id="news">
    <div class="container">

        @if (requestCulture.Culture.ToString() == "hy")
        {

            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ՎԵՐՋԻՆ ՆՈ<span>ՐՈՒԹՅՈՒՆՆԵՐԸ</span></h2>
                    <div class="line"></div>
                    <p>
                        <span><strong>Ա</strong></span>յստեղ կարող է լինել հաստատուն տեքս որը կարող է փոփոխվել բայց ծրագրային կոդով
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    @foreach (var item in Model.NewsList)
                    {
                        <div class="col-md-4 news-sec">
                            <div class="news-info">
                                <img src="@item.ImageUrl" class="img-responsive" alt="">
                                <div class="data-meta">
                                    <h4>@CultureInfo.CreateSpecificCulture("hy-HY").DateTimeFormat.GetAbbreviatedMonthName(item.Date.Month)</h4>
                                    <strong>@item.Date.Day</strong><br>
                                    @item.Date.Year
                                </div>
                                    <h5>@item.Title</h5>
                                <ul class="news-icon">
                                    <li>
                                        <i class="fa fa-pencil"></i>
                                        <h6>@item.Author</h6>
                                    </li>
                                </ul>
                                <p>@item.ShortContext</p>
                                <a target="_blank" href="/Newss/Item/@item.Id" class="btn-blg">Կարդալ ավելին</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        else
        {

            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>LATEST NE<span>WS</span></h2>
                    <div class="line"></div>
                    <p>
                        <span><strong>L</strong></span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        et dolore magna aliqua. Ut enim ad minim veniam
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    @foreach (var item in Model.NewsList)
                    {
                        <div class="col-md-4 news-sec">
                            <div class="news-info">
                                <img src="@item.ImageUrl" class="img-responsive" alt="">
                                <div class="data-meta">
                                    <h4>@CultureInfo.CreateSpecificCulture("en-US").DateTimeFormat.GetAbbreviatedMonthName(item.Date.Month)</h4>
                                    <strong>@item.Date.Day</strong><br>
                                    @item.Date.Year
                                </div>
                                    <h5>@item.TitleEn</h5>
                                <ul class="news-icon">
                                    <li>
                                        <i class="fa fa-pencil"></i>
                                            <h6>@item.AuthorEn</h6>
                                    </li>
                                </ul>
                                <p>@item.ShortContextEn</p>
                                <a href="/Newss/Item/@item.Id" class="btn-blg">Read More</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }


    </div>
</section>


<!--More News - Line-->
<div style="margin-left:50px;margin-right:-30px;"  class="bg-sec">
    <div class="container">
        <div class="col-md-10 col-sm-10 col-xs-8"></div>
        @if (requestCulture.Culture.ToString() == "hy")
        {
            var culture = requestCulture.Culture.ToString();
            <div  class="col-md-2 col-sm-2 col-xs-4"> <a target="_blank" style="top:0px;padding-right:5px;padding-left:5px;" class="btn-down" href="/Newss/Index">Կարդալ բոլորը</a> </div>
        }
        else
        {
            <div class="col-md-2 col-sm-2 col-xs-4"> <a  target="_blank" style="top:0px;padding-right:5px;padding-left:5px;"  class="btn-down" href="/Newss/Index">Read all</a> </div>
        }
    </div>
</div>


<!--Contact-Section-Start-->
<section id="contact">
    <div class="container">
        @if (requestCulture.Culture.ToString() == "hy")
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>ԿԱՊ <span>ՄԵԶ</span> ՀԵՏ</h2>
                    <div class="line"></div>
                    <p>
                        @Model.Contact.Title
                    </p>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-4 col-sm-4 contact-sec-1">
                    <h4>ԿՈՆԴԱԿՏԱՅԻՆ ՏՎՅԵԼ<span>ՆԵՐ</span></h4>
                    <ul class="contact-form">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <h6><strong>Հասցե:</strong> @Model.Contact.Address </h6>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <h6><strong>Էլ հասցե:</strong> <a href="#"> @Model.Contact.Email</a></h6>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <h6><strong>Հեռ․:</strong> @Model.Contact.Phone </h6>
                        </li>
                        <li>
                            <i class="fa fa-wechat"></i>
                            <h6><strong>Վեբ կայք:</strong> <a href="#">  @Model.Contact.Website</a> </h6>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="700" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Yerevan%20Armenia,%20Komitas%20%2025/8&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 400px;
                                    width: 700px;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 400px;
                                    width: 700px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-8 col-md-offset-2">
                <div class="heading">
                    <h2>CONTACT <span>US</span></h2>
                    <div class="line"></div>
                    <p>
                        @Model.Contact.TitleEn
                    </p>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-4 col-sm-4 contact-sec-1">
                    <h4>CONTACT IN<span>FO</span></h4>
                    <ul class="contact-form">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <h6><strong>Address:</strong> @Model.Contact.AddressEn  </h6>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <h6><strong>Mail Us:</strong> <a href="#"> @Model.Contact.Email</a></h6>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <h6><strong>Phone:</strong> @Model.Contact.Phone </h6>
                        </li>
                        <li>
                            <i class="fa fa-wechat"></i>
                            <h6><strong>Website:</strong> <a href="#"> @Model.Contact.Website</a> </h6>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="700" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Yerevan%20Armenia,%20Komitas%20%2025/8&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 400px;
                                    width: 700px;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 400px;
                                    width: 700px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>





