@page "{id:int}/{languageId:int}"
@using Microsoft.AspNetCore.Localization
@model lega.Pages.Newss.ItemModel
@{
    Layout = "/Pages/Shared/_LayoutNews.cshtml";
    @if (Model.LanguageId == 1)
    {
        ViewData["Title"] = "Նորություններ";
    }
    else
    @if (Model.LanguageId == 2)
    {
        ViewData["Title"] = "Новости";
    }
    else
    {
        ViewData["Title"] = "News";
    }
}



<head>
    @if (Model.LanguageId == 1)
    {
        <title>Lega հաշվապահական կազմակերպություն</title>
    }
    else
    @if (Model.LanguageId == 2)
    {
        <title>Lega бухгалтерская компания</title>
    }
    else
    {
        <title>Lega accounting company</title>
    }
</head>


<header id="menu">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#menu"><img width="145" height="60" src="~/images/Logo/logo.png" alt=""></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        @if (Model.LanguageId == 1)
                        {
                            <li><a class="scroll" href="/Index">Վերադարձ հիմնական կայք</a></li>
                            @*  <li><img style="margin-top:10px;margin-right:10px" src="~/images/Flags/hy.png"/></li>*@

                        }
                        else
                        @if (Model.LanguageId == 2)
                        {
                            <li><a class="scroll" href="/Index">Вернуться на основной сайт</a></li>
                            @*    <li><img style="margin-top:10px;margin-right:10px" src="~/images/Flags/ru.png" /></li>*@
                        }

                        else
                        {
                            <li><a class="scroll" href="/Index">Return to main website</a></li>
                            @*  <li><img style="margin-top:10px;margin-right:10px" src="~/images/Flags/en.png" /></li>*@
                        }

                        @*   <li><vc:culture-switcher /></li>*@

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</header>



<!--Carousel-Section-Start-->
<section id="slider">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            @foreach (var item in Model.CarouselList)
            {
                <div class="item @item.State" style="background-image:url(@item.ImageUrl)">
                    <div class="carousel-caption container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:7mm">
                                @if (Model.LanguageId == 1)
                                {
                                    <h1>@item.Title</h1>
                                    <h2>@item.Name</h2>
                                    <p>@Html.Raw(item.Context)</p>
                                }
                                else

                                @if (Model.LanguageId == 2)
                                {
                                    <h1>@item.TitleRu</h1>
                                    <h2>@item.NameRu</h2>
                                    <p>@Html.Raw(item.ContextRu)</p>
                                }
                                else

                                {
                                    <h1>@item.TitleEn</h1>
                                    <h2>@item.NameEn</h2>
                                    <p>@Html.Raw(item.ContextEn)</p>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            }
            <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!--/#home-carousel-->
</section>

<!--News-Section-Start-->
<section id="news">
    <div class="container">

        @if (Model.LanguageId == 1)
        {
            <div class="col-12">
                <div style="text-align:center" class="heading">
                    <h2>@Model.News.Title</h2>
                    <div class="line"></div>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 news-sec">
                        <div class="news-info">
                            <img class="img-responsive" src="@Model.News.ImageUrl">
                            <div class="data-meta">
                                <h4>@CultureInfo.CreateSpecificCulture("hy-HY").DateTimeFormat.GetAbbreviatedMonthName(Model.News.Date.Month)</h4>
                                <strong>@Model.News.Date.Day</strong><br>
                                @Model.News.Date.Year
                            </div>
                            <p></p>
                            <h6><i class="fa fa-pencil"></i> @Model.News.Author</h6>
                            <p>@Html.Raw(Model.News.Context)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else

        @if (Model.LanguageId == 2)
        {
            <div class="col-md-12">
                <div style="text-align:center" class="heading">
                    <h2>@Model.News.TitleRu</h2>
                    <div class="line"></div>
                    <p> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 news-sec">
                        <div class="news-info">
                            <img class="img-responsive" src="@Model.News.ImageUrl">
                            <div class="data-meta">
                                <h4>@CultureInfo.CreateSpecificCulture("ru-RU").DateTimeFormat.GetAbbreviatedMonthName(Model.News.Date.Month)</h4>
                                <strong>@Model.News.Date.Day</strong><br>
                                @Model.News.Date.Year
                            </div>
                            <p> </p>
                            <h6><i class="fa fa-pencil"></i> @Model.News.AuthorRu</h6>
                            <p>@Html.Raw(Model.News.ContextRu)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-12">
                <div style="text-align:center" class="heading">
                    <h2>@Model.News.TitleEn</h2>
                    <div class="line"></div>
                    <p> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 news-sec">
                        <div class="news-info">
                            <img class="img-responsive" src="@Model.News.ImageUrl">
                            <div class="data-meta">
                                <h4>@CultureInfo.CreateSpecificCulture("en-US").DateTimeFormat.GetAbbreviatedMonthName(Model.News.Date.Month)</h4>
                                <strong>@Model.News.Date.Day</strong><br>
                                @Model.News.Date.Year
                            </div>
                            <p> </p>
                            <h6><i class="fa fa-pencil"></i> @Model.News.AuthorEn</h6>
                            <p>@Html.Raw(Model.News.ContextEn)</p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Post Meta Track -->
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12 team-main-sec wow slideInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="team-desc">
                    <ul class="team-social-icon">
                        <li class="facebook"><a href="#" class="tooltip-ontop" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="twitter"><a href="#" class="tooltip-ontop" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="google"><a href="#" class="tooltip-ontop" data-toggle="tooltip" data-placement="top" title="Google"><i class="fa fa-google-plus"></i></a></li>
                        <li class="pinterest"><a href="#" class="tooltip-ontop" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- /Post Meta Track -->


        </div>
</section>



@if (Model.LanguageId == 1)
{

    <footer id="footer">
        <div class="bg-sec">
            <div class="container">
                <h2><strong>Հետեվեք Մեզ </strong></h2>
            </div>
        </div>
    </footer>

}
else
    @if (Model.LanguageId == 2)
{
    <footer id="footer">
        <div class="bg-sec">
            <div class="container">
                <h2><strong>Подписывайтесь на нас </strong></h2>
            </div>
        </div>
    </footer>
}
else
{
    <footer id="footer">
        <div class="bg-sec">
            <div class="container">
                <h2><strong>Follow Us On  </strong></h2>
            </div>
        </div>
    </footer>
}



@section Scripts {

<script>

    $(document).ready(function () {
        /* Social Share Buttons */
        $('.team-social-icon').each(function () {

            var page_url = encodeURIComponent(document.URL);

            $(this).find('.facebook>a').attr('href', 'http://www.facebook.com/sharer/sharer.php?u=' + page_url).attr('target', '_blank');
            $(this).find('.twitter>a').attr('href', 'https://twitter.com/home?status=' + page_url).attr('target', '_blank');
            $(this).find('.google>a').attr('href', 'https://plus.google.com/share?url=' + page_url).attr('target', '_blank');
            $(this).find('.pinterest>a').attr('href', 'http://pinterest.com/pin/create/button/?url=' + page_url).attr('target', '_blank');

        });

    });

</script>

    }


